.idea
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
UserInterfaceState.xcuserstate
/build
/buildSrc/build
/shared/build
/androidApp/build
/desktopApp/build
/webApp/build
/captures
.externalNativeBuild
.cxx